<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinjie.bbs_java.mapper.MessageMapper">

    <select id="selectAllMessage" resultType="com.yinjie.bbs_java.entity.Message">
        select m.*,u.email,u.nick_name,u.avatar from bbs_message m,bbs_user u
        where m.ori_id = u.id
        <if test="uid != null and uid !=''">
            and m.des_id = #{uid}
        </if>
    </select>
</mapper>
